fastapi
uvicorn
web3
python-dotenv
cryptography
sqlalchemy
psycopg2
redis
bcrypt==3.2.0
PyJWT
yagmail
pyyaml
ua-parser
user-agents
passlib==1.7.4
qrcode[pil]
reportlab
py-solc-x
cloudinary
python-multipart
flask




